[2013-10-02 11:57] dutchiexl opened #1 "Settings.php missing"
I woul like to use your API, but your Settings,php file is missing.

[2013-10-02 12:01] megawubs commented on #1
Hey, what branch are you using? I haven't been developing/using the main branch for a while now, could be that something is broken there. Could you use the wrap-classes branch? This one is still in development but has a lot more functionality.

What's the error you're getting?
On Oct 2, 2013, at 1:57 PM, dutchiexl notifications@github.com wrote:

[2013-10-02 12:18] dutchiexl commented on #1
Great! thanks, will get back to you later

[2014-08-31 14:54] m-vdv opened #2 "trakt.tv API v2 support"
As you might be aware, trakt will be getting a major update and there's a new API coming (v2).
There's a Google+ community setup by the people of trakt with info. You may want to send Justin an email: justin@trakt.tv to get access to the community if you aren't in it already. It has a link to the new api docs (http://docs.trakt.apiary.io/) and you can discuss the methods ect there.. Would be aweso

[2015-01-04 23:21] CptChaos commented on #2
Would love to see this, now the new API is in use. :)

[2015-01-05 07:02] megawubs commented on #2
I'll see what I can do,  don't have as much free time as when I created this wrapper.

[2015-01-05 07:12] #1 closed, assigned to megawubs

[2015-01-05 10:57] m-vdv commented on #2
@megawubs Thanks Bram! :)

[2015-02-17 20:18] rollecode commented on #2
+1 Much needed. Didn't really find another well documented php wrapper for Trakt.

[2015-02-20 21:33] megawubs commented on #2
I'm looking into this. I think of doing a complete rewrite and use packages like `league/oauth2-client`, `guzzlehttp/guzzle` and `nesbot/carbon`. Currently looking into the whole oauth2 thing, can't really wrap my head around it.

[2015-02-22 22:10] megawubs commented on #2
I've put a few things together today. Far from finished but it's a solid basis. You can find it [here](https://github.com/megawubs/trakt-api-wrapper/tree/api-version-2). Any thoughts are welcome!

[2015-02-22 22:39] m-vdv commented on #2
Many thanks Bram!  I'm going to experiment with it asap :)

[2015-02-22 23:27] rollecode commented on #2
Thanks! I feel a little dumb and sleep deprived here, but -humbly- can you add step by step instructions to how to use (with oauth and all)? that could save time. Used a jquery version of Trakt (just url call) before v2 and with trakt PHP wrapper I'm a bit lost at first...

[2015-02-23 08:02] megawubs commented on #2
I wrote the code last night, didn't have time to document it properly. Will
do that later today.

Op ma 23 feb. 2015 12:27 AM schreef Roni Laukkarinen <
notifications@github.com>:

[2015-03-11 14:27] m-vdv commented on #2
@megawubs Hey Bram, just checking in to see how develoment is going. If you got some time for documentation that would be helpfull for all of us too :)

[2015-03-12 09:25] megawubs commented on #2
Hey, it's coming. I'm still a student and currently school requires my attention.

[2015-03-12 18:40] megawubs commented on #2
Had some free time tonight, check the readme

[2015-03-12 19:05] rollecode commented on #2
Thanks! installed through composer, added autoload and now I have a couple of questions: API key has changed its location since I last looked at it, I guess it's the callback code in http://trakt.tv/oauth/applications? I'm getting no results, but no errors either with Get request example. `var_dump($res)` doesn't output anything either.

Any tips?

[2015-03-12 20:25] megawubs commented on #2
The composer package still points to the master branch. For now, I
recommend manually installation. I have no idea how to tell composer about
other branches. Will dive into that when I get the time and update the
docs.

Op do 12 mrt. 2015 8:05 PM schreef Roni Laukkarinen <
notifications@github.com>:

[2015-03-13 14:02] megawubs commented on #2
I've been doing some householding and merged the branch `api-version-2` into the `develop` branch. After this I removed the branches `wrap-classes`, `api-version-2`.

@ronilaukkarinen I think you can now do add `"wubs/trakt": "dev-develop"` to your composer dependancies and you'll have the api version two wrapper.

If you already have the version 2 wrapper, you should indeed get an api token by ru

[2015-03-14 15:28] megawubs commented on #2
The Master branch is now the api v2 wrapper, it's still in development but the basics are there. I'm going to close this issue. If anyone has problems or ideas with the v2 wrapper, start a new issue. The v1 wrapper is still available in the 1.0 branch.

[2015-03-14 15:28] #2 closed, assigned to megawubs

[2015-03-19 03:59] mastermike14 opened #3 "Client Id not being sent"
When calling trakt->authorize() the client id is not being sent to trakt raising a oauth error

[2015-03-19 04:03] mastermike14 commented on #3
in the Trakt Class i have the code

[code]

and the ClientId class

[code]

thus making the client id null because that method doesnt even exist in the code. I change the code to the supplied client id

[code]

And it works just fine

[2015-03-19 04:57] mastermike14 opened #4 "getAccessToken is returning oauth error"
when i call that method with a valid oauth code i get "There was an invalid Oauth request from Trakt"

[2015-03-20 08:35] megawubs commented on #4
I've tested it, and you're right. Somehow, the ClientId object isn't turned into a string when building the url. I've fixed this in the  `TraktProvider` class.

[2015-03-20 11:04] megawubs commented on #3
Fixed with: 4a74f68a959ccd934453bc3f323a188df6b14b4f

[2015-03-20 11:04] #3 closed, assigned to nobody

[2015-03-20 12:55] m-vdv commented on #4
I'm still getting the "There was an invalid Oauth request from Trakt" error. Tried with "fixed" version.
vendor\wubs\trakt\src\Wubs\Trakt\Trakt.php on line 71

[2015-03-20 16:58] megawubs commented on #4
What's the code you use to obtain the access token? Are you calling `$trakt->getAccessToken($code);` from the url you have provided as the callback url? Trakt uses that url to send you the code to obtain an access code with

[2015-03-20 17:12] megawubs commented on #4
I just thought of why you are getting the error. It's a dumb mistake of me. Inside `Trakt::getAccessToken()` is a check if the request is valid, and it checks if the required `$_GET` variable is available. This off course breaks the manual request!

[2015-03-21 08:36] megawubs commented on #4
Should be fixed in bc034e6652a2aa48ffbf6872c9a691d60cc13d52

[2015-03-22 13:43] m-vdv commented on #4
Fixed! Unfortunately another error now:
Catchable fatal error: Argument 1 passed to League\OAuth2\Client\Provider\AbstractProvider::setResultUid() must be of the type array, null given

[2015-03-22 16:39] mastermike14 commented on #4
The request is sent using guzzle and the response is null. Ive tested the parameters and the correct ones are there but maybe they aren't being sent for some reason

[2015-03-22 17:01] megawubs commented on #4
I'll check later today. Haven't been able to find a good way to
automatically test the whole oauth process. I need someone elses thoughts
on that. Will spinn up a dev environment on my personal server to debug the
process later tonight.

Op zo 22 mrt. 2015 17:39 schreef Mastermike notifications@github.com:

[2015-03-22 19:00] megawubs commented on #4
I think the issue is with Trakt. When I manually go to the OAuth url, I get this:

![screenshot 2015-03-22 19 58 29](https://cloud.githubusercontent.com/assets/2302867/6770857/08a2c168-d0ce-11e4-953f-b6a0f253791e.png)

[2015-03-22 19:15] mastermike14 commented on #4
I've noticed that when I enter the oauth code into trakt API console to get auth tokens it gives the same weird response

[2015-03-22 19:20] megawubs commented on #4
I've requested access to their google+ group and tweeted at them. But don't think it'll be fixed today.

[2015-03-22 21:56] megawubs commented on #4
It's a bug inside Guzzle or the OAuth2 Client.

[2015-03-22 22:54] mastermike14 commented on #4
i think its guzzle. it doesnt seem like the request isn't being sent successfully or the response isnt being catched

[2015-03-22 23:50] mastermike14 commented on #4
Ive dumped the params in oauth2 abstract provider and the correct params are set. Ive dumped the response from the getAccessToken in the oauth2 Abstract Provider and its NULL which is raising the message "Uncaught exception 'InvalidArgumentException' with message 'Required option not passed: access_token ' "

[2015-03-23 02:55] mastermike14 commented on #4
when calling the function request in AbstractRequest provider one of the variables is preceded by 3 periods(...) on line 136 of AbstractRequest.php

[2015-03-23 07:35] megawubs commented on #4
@mastermike14, those dots are [Variable-length argument lists](http://php.net/manual/en/functions.arguments.php#functions.variable-arg-list).

I've been debugging the process a bit more. And it seems something with the `$trakt->authorize();` call goes wrong. I have not been able to pin point what it exactly is. When I request an OAuth token from my API application page and put the code displayed i

[2015-03-23 09:43] megawubs commented on #4
I've been trying to get it working. But so far without results. Even tried to go back to just simple curl requests (http://laravel.io/bin/9v3qy) but I still get back "invalid_grant". But the weird part is, that when I put the code I get back form the `$trakt->authorize(); call in post man, I'm able to get an acces token.

[2015-03-23 11:00] #4 closed, assigned to megawubs

[2015-03-23 15:34] m-vdv commented on #4
Thanks for the fix @megawubs auth works fine now. I'm haven a bit of an issue with the dots (... / Variable-length argument lists) as well, since my development wampserver doesn't support PHP 5.6 (it runs on 5.5.12) so it's throwing an error.

Parse Error: syntax error, unexpected '.', expecting '&' or variable (T_VARIABLE)

[2015-03-23 15:39] megawubs commented on #4
That's 5.6 indeed. Will think about a way to make it support 5.5. Can you
make a new issue for this?

Op ma 23 mrt. 2015 16:34 schreef webslash notifications@github.com:

[2015-03-23 15:43] m-vdv opened #5 "PHP 5.5 Support"
Please provide support for PHP version 5.5.
Not everyone has the latest 5.6 running, wampserver (for development) is also stuck at 5.5.

Thanks!

[2015-03-23 16:42] #5 closed, assigned to megawubs

[2015-03-23 17:05] m-vdv commented on #5
Thank you!

[2015-03-23 19:33] mastermike14 commented on #4
the auth code can only be used once. If you try to use it again you get the "invalid_grant" error.

[2015-03-23 19:51] rollecode commented on #2
Oh, it needs PHP 5.4 or newer, didn't say in the dependencies. Errored and had errors disabled... I have 5.3.10 (yeah, it's old but stable). I guess I have to update.

[2015-03-23 20:30] rollecode commented on #2
Managed to get it working, though I don't need oauth especially. Trying to get recently watched episodes/movies. Any example code about that? PHP and v2 are way different than previous v1 JSON query used to be. There's no CORS support yet so I can't use jQuery just yet.

[2015-03-23 20:46] megawubs commented on #2
What's making it crash on 5.3?

[2015-03-24 17:22] rollecode commented on #2
[code]

PHP docs: "As of PHP 5.4 it is possible to array dereference the result of a function or method call directly. Before it was only possible using a temporary variable."

[2015-03-24 18:41] megawubs commented on #2
What php version are you using?

Op di 24 mrt. 2015 18:22 schreef Roni Laukkarinen <notifications@github.com

[2015-03-24 18:43] megawubs commented on #2
Never mind that las reaction. It's the new array notation. Don't know if I'm going to change that. Let me think about it.

[2015-03-24 18:44] rollecode commented on #2
Like I stated in my previous comment, I have 5.3.10 on my dev server. Gladly, on my other test server I have PHP 5.5.22, so this is not a deal-breaker.

I'm still stuck:

[code]

[2015-03-24 20:23] megawubs commented on #2
That request isn't written just yet. Have been really busy writing request objects for all requests. I'm currently at all the request starting with `shows`. It's a lot to cover. Actually, making a request object is't that hard.

I'll create this one right now.

[2015-03-24 20:35] megawubs commented on #2
I just quickly created the request object for you. You can use it like this:

[code]

Note, I haven't added a response handler just yet, it just returns the JSON parsed as plain php objects.

[2015-03-24 21:25] rollecode commented on #2
Wow, thanks for that! However, I get

[code]

[2015-03-24 21:27] rollecode commented on #2
My code:

[code]

[2015-03-25 11:33] megawubs commented on #2
Oh, my mistake. Forgot to add the use statements of `Wubs\Trakt\Request\Parameters\Type;` and
`Wubs\Trakt\Request\Parameters\Username;` Updated the preview.

As of now (3127eda72f556d7bde139352513f0569ff59c759) you can omit the `$token` variable on requests that do not need a token.

[2015-03-25 20:25] rollecode commented on #2
Thank you! Tested with this

[code]

Got this:

[code]

Tried with `use Wubs\Trakt\ClientId;` but no dice. Don't know how to work with classes so can't really figure this out myself.

[2015-03-25 21:14] megawubs commented on #2
Do `$clientId = ClientId::set(your-id-here);` Sorry, it’s my fault for not
being explicit enough. This really teaches me to how to explain and
document the things :)

Op wo 25 mrt. 2015 om 21:25 schreef Roni Laukkarinen <
notifications@github.com>:

[2015-03-25 21:15] megawubs commented on #2
Do `$clientId = ClientId::set(your-id-here);` Sorry, it’s my fault for not
being explicit enough. This really teaches me to how to explain and
document the things :)

[2015-03-26 20:52] rollecode commented on #2
Not to worry, happy to test!

Current code:

[code]

Result:

[code]

What's up this time? :grin:

[2015-03-27 05:54] megawubs commented on #2
You should not pass an access token if you don't have one. Just give it your client id and the parameters, that should work.

Will update the readme with a better explanation of this. Otherwise, look inside the test/RequestTest.php the code inside the second test in that class is exactly what you need.

[2015-03-27 06:58] megawubs commented on #2
And you should use `Type::movies()` as that url only accept plural names for media types.

[2015-03-27 07:30] rollecode commented on #2
Wow, it works now! Awesome. The "last watched" part on my websites have been under construction since January. Will implement this during the weekend. For episodes I suppose a simple if sentence will do. Thanks a lot!

[2015-03-30 20:52] rollecode commented on #2
Hmm, there is not yet method for episodes? Also my if sentence would not work, because they are not in the same array with episodes so first is always a movie and I cannot check is episode set. Any way to get combined history stream out with some parameter?

[2015-04-08 20:27] csrbrito opened #6 "Wiki"
Without the help of an wiki its very hard to understand at first where are or how to do it.

[2015-04-08 20:37] megawubs commented on #6
Wiki is coming, some other stuff besides this package require my attention
right now.

Op wo 8 apr. 2015 22:27 schreef csrbrito notifications@github.com:

[2015-04-08 20:40] csrbrito commented on #6
can you reply to my email ?

[2015-04-10 19:59] csrbrito commented on #6
i dont understand why you write that someone can contact you and help you on this and then you ignore complety! Ok, no prob i will not commit the new code i wrote to yours and complete my own version.

Thank you anyway.

[2015-04-10 21:40] megawubs commented on #6
You can help out, and I will respond to your message. But at the moment
other things in my life require my attention. Open Source does not have my
first priority. It's something I do in my free time, when I have the time
and energy for it. A few weeks ago I did have the time and energy, at the
moment I do not. I hope you'll understand.

Op vr 10 apr. 2015 21:59 schreef csrbrito notifications@githu

[2015-04-11 15:38] rollecode commented on #6
@csrbrito Butthurt much? :wink: Open source freetime project is not an obligation or duty. Glad you have sorted things out by coding yourself, but don't unload your frustration to @megawubs, who is providing this on his free time.

I can wait as long as it needs, if not managing time to investigate this myself - then will do a proper pull request just like it is supposed to go in GitHub. We all ha

[2015-04-23 06:55] kristoftorfs opened #7 "Composer installation fails"
Composer installation fails due to unsatisfiable dependencies:

[code]

[2015-04-23 08:08] csrbrito commented on #7
I got the same problem but i made it by change some settings on composer.json ( load the version that the scripts requires with another alias ), later a will tell you the  workarround for that, but yes, its not stable enouph. I'm making my own fork version on this with some improvements and stability.

[2015-04-23 09:31] megawubs commented on #7
I noted some changes in how composer worked during my work this week. For
now, I think adding a tag should be enough. But I don't know if I want to
give it a tag yet, as it's still not the way I want it to work.

Op do 23 apr. 2015 10:08 schreef csrbrito notifications@github.com:

[2015-04-23 20:23] makop79 commented on #7
I had the same problem during the installation - installing a git client solved it for me. After that everything went fine.

[2015-04-29 11:21] joshlopes commented on #7
you need to set dependencies in such cases, for that case just add as required that dev version of nesbot and you should be fine.

[code]

or run the command:

[code]

Do the follow for all dependencies that are not match. Remember that composer will choose @stable over @dev if your minimun-stable is not set

[2015-05-15 13:32] m-vdv commented on #6
@megawubs Hi Bram

Really eager to start using this wrapper.. I'm having a hard time getting it up and running though.
Any idea when you'll have some time to continue working on it?

Better documentation or maybe even a demo project would be very useful!

Thanks for your effort.

[2015-05-15 15:07] megawubs commented on #6
The upcoming two weeks I have to finish a project at school. After that, I'll have much more time!

[2015-05-31 12:11] rollecode commented on #2
Hi @megawubs, so is there a way to get recently watched (episodes + movies)?

[2015-06-01 17:24] megawubs commented on #2
Hi @ronilaukkarinen I just pushed some of my local changes that still had to be pushed. It includes the recently watched request.

[code]

[2015-06-01 20:46] rollecode commented on #2
Thanks for the answer. Tried with this (with client id set of course):

[code]

My composer.json row (just now `composer update`):

[code]

I get:

[code]

[2015-06-02 04:32] megawubs commented on #2
Do you have a public account or not?

Op ma 1 jun. 2015 22:46 schreef Roni Laukkarinen notifications@github.com:

[2015-06-03 12:45] rollecode commented on #2
Yep: http://trakt.tv/users/rolle/history

[2015-06-03 13:42] megawubs commented on #2
That's odd, this request should not require an auth token. Can you add an auth token to the request and see if it succeeds?

[2015-06-03 17:54] rollecode commented on #2
I still get the same error, when using this:

[code]

Codes should be right.
Did I do something wrong?

[2015-06-03 18:19] megawubs commented on #2
My bad. The access token should be an instance of `League\OAuth2\Client\Token\AccessToken`. Recent changes removed the type check on `AbstractRequest::request()`. And the lack of documentation is also the problem here. Well, good news! Today I got my lasts results back and I'm done with school for this year, meaning I can finally move on with this project :)

When you use `.env` environment variab

[2015-06-03 19:23] rollecode commented on #2
This is crazy... I still get the same error with this:

[code]

When I dump parameters, I get this:

[code]

[2015-06-03 20:10] megawubs commented on #6
I've started on the documentation. It's in early stages! Please be patiant.

[2015-06-03 20:14] megawubs commented on #2
Really odd. When I run the code with your name I do get your latest watched movies. The API documentation says the following about error code 403: `Forbidden - invalid API key or unapproved app`. You can check it here: http://docs.trakt.apiary.io/#introduction/status-codes

[2015-06-03 20:50] rollecode commented on #2
Tried with `rm -rf vendor && composer install` again with no luck...

I had \* instead of dev-master in my composer.json and switched that as well, but no change...

[code]

Is my composer.json all right? Is your code identical to mine and if not can you link to gist or something... mind-boggling.

[2015-06-04 05:55] megawubs commented on #2
Can you check if you are really sending your client id? And can you check of the application you have created on Trakt is approved?

[2015-06-04 08:56] rollecode commented on #2
Yeah, I noticed my .env was in wrong directory... but I got `var_dump($token)` to show token information, but after a while I got invalid oauth error. Then, when I thought it was right, I got

[code]

I'm not exactly sure how to do this, not very familiar with oauths. How to get permanent access token, it seems to expire really fast?

Can you just make some documentation what to do exactly, or pas

[2015-06-04 16:21] megawubs commented on #2
The request was executed, only the expected JSON result is malformed. Are you capable of creating your own `ResponseHandler` Object? It's explained in the readme, at the end. Let it return `$response->getStatusCode();` ?

[2015-06-06 12:34] rollecode commented on #2
Ugh, whenever I add `$response` line after getting $token, I get `"There was an invalid Oauth request from Trakt"`... I guess I'm doing the OAUTH thing wrong way. I tried with `$trakt->getAccessToken("MY_PIN_HERE")` and setting up a false redrect url (I don't have HTTPS) to get ?code= from the URL.

[2015-06-07 14:12] m-vdv commented on #6
@megawubs Great to hear that! Your work is very much appreciated

[2015-06-09 11:19] megawubs commented on #6
Check http://blog.wubsinfo.nl/trakt-api-wrapper/ Please, let me know if you miss anything.

[2015-06-09 11:19] #6 closed, assigned to megawubs

[2015-06-09 11:31] m-vdv commented on #6
Thanks @megawubs for the documentation, I'll play around with it soon. Also like the future idea for this wrapper.. looks a lot easier to use :)

[2015-06-12 10:08] dogrocker commented on #7
Got an error too, When I trying to install on Laravel 4.2

[code]

[code]

[2015-06-12 10:49] megawubs commented on #7
I'll look into this

Op vr 12 jun. 2015 12:08 schreef Kanin Peanviriyakulkit <
notifications@github.com>:

[2015-06-12 10:56] megawubs commented on #7
you have to do `composer require wubs/trakt dev-master`. I'll update the docs.

Do you have another library that requires guzzle?

[2015-06-12 14:54] dogrocker commented on #7
@megawubs Thanks, for fast reply.
I try to use `composer require wubs/trakt dev-master`

it got the same error.

[code]

This is my composer.json

[code]

I think that `fabpot/goutte` use guzzle 4\* library.

[2015-06-13 08:17] megawubs commented on #7
Should be fixed with this commit 3feeae6935fd3e3a2c481d14ff1efcfc156161b0

[2015-06-13 08:17] #7 closed, assigned to nobody

[2015-06-19 12:17] rollecode commented on #2
Any tips yet? I either do the authentication incorrectly or something is still under construction? I'm not quite sure how to do OAUTH with `get_token()`, it doesn't return the right code and with false callback URL I get the code but it's expiring almost instantly... I'm in the dead end now so waiting for your answer kindly. :)

[2015-06-20 07:23] megawubs commented on #2
I've got something in the works. Will be next week when I can finish it and
update the docs.

Op vr 19 jun. 2015 14:17 schreef Roni Laukkarinen <notifications@github.com

[2015-07-05 13:02] rollecode commented on #2
I found a simpler way by using VIP RSS feed.

[code]

I can get recently watched title, link and image with this method, but not genres and more detailed info, but genre would be only a cherrry on the cake. Will watch your repo and see the changes though, to update in the future.

[2015-07-24 13:59] m-vdv opened #8 "PIN authentication"
Hi @megawubs

I'm trying to get your API wrapper to work smoothly, currently setting up the OAuth stuff on my local machine.
When I call the authorize function it opens trakt.tv and shows a PIN authentication page.
I read in the docs about this new feature, but it's not what I want to use.
Why isn't the OAuth working as it should?

Thanks

[2015-07-24 14:06] megawubs commented on #8
@webslash Just wait a bit. Huge update is coming with way better handling of OAuth. Also, can you check the redirect url you give to the outorize method?

[2015-07-24 14:12] m-vdv commented on #8
@megawubs I have urn:ietf:wg:oauth:2.0:oob as the redirect uri. (Since I'm developing on localhost). I read now in the API docs that urn:ietf:wg:oauth:2.0:oob should be used for the PIN authentication. I'm lost what to use for local development then?

[2015-07-24 14:17] megawubs commented on #8
@webslash Doe you have a local hostname for the dev machine? You can use that as a redirect-URI. When your.local hostname is `trakt-dev.app` and your route that catches the redirect from Trakt is `/trakt/auth` you can register the redirect url as 'http://trakt-dev.app/trakt/auth' and catch the code with `$_GET['code'];`

[2015-07-24 14:41] m-vdv commented on #8
Looked into setting up a virtual host and got it working! Thanks!

[2015-07-24 14:41] megawubs commented on #8
@webslash Happy to help!

[2015-07-24 14:42] #8 closed, assigned to nobody

[2015-07-24 16:02] webslash commented on #8
Quick question how do I properly set the Token?

I get:
    Catchable fatal error: Argument 1 passed to Wubs\Trakt\Request\AbstractRequest::setToken() must be an instance of League\OAuth2\Client\Token\AccessToken, string given

[2015-07-24 17:03] megawubs commented on #8
@webslash Look at the TraktAccessToken class. The code you get after the redirect is not the access token. The code is for retrieving the access token

[2015-07-24 21:51] megawubs commented on #8
@webslash can you take a look at the develop branch and let me know what you think about the new setup?

[2015-07-25 13:14] m-vdv commented on #8
@megawubs Just tried the new develop branch.

I got the OAuth more or less working. Users are send to trakt.tv where they can Authorize my app. Then they're send back with a ?code= which I then use to request a token. Then I receive the Token but I'm a bit lost on how to save this? Do I write this to a cookie or how should this be handled?

Anyway the new request scheme is a lot easier to use then

[2015-07-25 13:58] megawubs commented on #8
@webslash You could save the oauth info in a database, so you can recreate the access token when the user needs it.

Thanks for the readme errors, will fix them later.

[2015-07-25 20:55] m-vdv commented on #8
@megawubs Just noticed Wubs\Trakt\Provider\TraktProvider in your readme should be Wubs\Trakt\Auth\TraktProvider ;)

Also the readme speaks of TraktAccessToken::ceate to re-create the AccessToken but that doesn't seem to exist?

I'm really struggling with the Token part. Would be helpful is you could explain some more how to exactly handle this in production.

After I use $token = $auth->token($_GE

[2015-07-26 12:44] m-vdv commented on #8
@megawubs Is it possible to get the API response directly inside an Array instead of a Collection?

[2015-07-26 14:36] megawubs commented on #8
@webslash You can do $response->toArray()

[2015-07-26 14:37] megawubs commented on #8
@megawubs But, most of the time, a Collection can just be used as an array

[2015-07-26 14:38] m-vdv commented on #8
Thanks ->toArray() does exactly what I wanted :)

[2015-07-26 14:58] m-vdv opened #9 "Feature request: Extended info"
Hi @megawubs
The Trakt API allow for extended info to be requested for some API calls:
Could this be implemented?

More info: http://docs.trakt.apiary.io/#introduction/extended-info

EDIT: Just noticed it's already implemented.
Example usage: $trakt->movies->extendWithImages()->trending()

EDIT2: Isn't working for $trakt->users->extendWithImages()->history()

Please explain this in the docs :)

Th

[2015-07-26 22:13] m-vdv commented on #8
@megawubs Still trying to figure out the token part..
The develop docs says

"With the values you can re-create the AccessToken when you need it by using the TraktAccessToken::ceate() method and pass the required parameters $token, $type and$expires"

But the the TraktAccessToken::ceate() method  doesn't exist.. :/

[2015-07-26 22:21] m-vdv commented on #8
@megawubs

TraktAccessToken is indeed missing from the develop branch..
I've used the master branch file and edited it a bit, it's working now :)

[code]

[2015-07-26 23:30] m-vdv opened #10 "Watchlist API call: Trying to access a getter that does not exists on the request object"
There's an issue with:
$trakt->users->watchlist()

Error:
    MalformedParameterException in UriBuilder.php line 76:
    Trying to access a getter that does not exists on the request object

[2015-07-27 05:52] megawubs commented on #8
You should use `\Wubs\Trakt\Auth\Token::create($token, $type, $expires);` I forgot to change the classname in the readme. Is fixed now in 08312daa626f65fde30c2116f440a38d8bb130e2

[2015-07-27 05:55] megawubs commented on #9
I havn't had the time to put this into the docs, because I'm unsure if it's to stay this way. I also want to add pagination first before documenting the new features.

I'll investigate why `$trakt->users->extendWithImages()->history();` isn't working.

[2015-07-27 06:08] megawubs commented on #9
I'm getting all images when I do `$history = $trakt->users->withImages()->history("megawubs");` (I just renamed the methods to `withImages() and`withFull()`). Do you provide it a username?

[2015-07-27 06:08] #9 closed, assigned to megawubs

[2015-07-27 06:19] #10 closed, assigned to nobody

[2015-07-27 08:32] m-vdv commented on #8
Thanks for the update!
You got a tiny typo: Token::ceate() should be Token::create()

It's working, but I have to send all vars to the create function ($token, $type, $expires, $refresh, $scope) for it to work though. Not sure what the $type and $scope should be, so I send null and that works.

[2015-07-27 08:34] m-vdv commented on #10
Works! Thank you!

[2015-07-27 08:41] m-vdv opened #11 "History API call: Cannot access private property Wubs\Trakt\Request\Users\History::$username"
$history = $trakt->users->history($username,null,null,$token)

Error: Cannot access private property Wubs\Trakt\Request\Users\History::$username

[2015-07-27 08:49] m-vdv commented on #9
@megawubs Thanks for all your help and work on this!

Found out why the history call with images isn't working:
$history = $trakt->users->withImages()->history("megawubs")->toArray();

Without "->toArray();" it works fine, but with "->toArray();" at the end I don't get the images :(
How to fix?

[2015-07-27 08:51] megawubs commented on #11
Silly me. Added a feature without testing it properly. Should work-ish now. But needs proper testing.

[2015-07-27 08:57] megawubs commented on #8
Updated the docs to reflect the need for `$refresh` and `$scope`.

Thank you for being so patient and helpful!

[2015-07-27 09:15] m-vdv commented on #9
@megawubs Not sure if that's the issue.. Tried some more and sometimes I get the images, most of the times I don't. Using the exact same API call, strange..

[2015-07-27 09:17] megawubs commented on #9
With the `->toArray()` call?

[2015-07-27 09:18] m-vdv commented on #9
With or without doesn't matter.

$history = $trakt->users->withImages()->history("megawubs");

@megawubs Does this wrapper have built in caching?

[2015-07-27 09:35] m-vdv commented on #11
Works!

[2015-07-27 10:20] megawubs commented on #9
No, it'll always fetch from trakt

[2015-07-27 10:28] m-vdv commented on #9
@megawubs I'm trying to figure out what's causing this.. it must be a caching thing not related to your wrapper.

Which ever API call I make first for a specific user (with extended images / full / min) it get's cached inside my browser/network(?) somehow. And when I change the extended parameter that doesn't change the API call output.

It has nothing to do with your wrapper 100% sure.. because w

[2015-07-27 10:38] m-vdv commented on #9
@megawubs I've posted the issue in the trakt.tv google+ community..
https://plus.google.com/u/0/communities/103111515647012208243/stream/286c9184-0268-4c2d-9f74-0844b6ffecd1

[2015-07-28 17:52] #11 closed, assigned to nobody

[2015-08-15 18:18] m-vdv opened #12 "toArray() not working on Movies"
Error:

Attempted to call an undefined method named "toArray" of class "Wubs\Trakt\Api\Movies".

[2015-08-15 18:20] m-vdv opened #13 "Movie / Show Recommendations missing token"
The auth token part is missing from the recommendations api call functions.

[2015-08-15 18:31] m-vdv opened #14 "Add new TV and Movie discovery API calls"
Hi Bram

New methods have been added to help with TV show and movie discovery, please also add these to the API wrapper:

/movies/played
/movies/watched
/movies/collected
/shows/played
/shows/watched
/shows/collected

More info: https://medium.com/@trakt/api-changelog-9f4041819718

[2015-08-29 20:01] ghost opened #15 "laravel 5.1"
im new in laravel and i dont want to include
$trakt = new Trakt($clientId, $clientSecret, $redirectUrl);
in every controller

do you know how i should implement this in my code ?

[2015-08-29 20:05] megawubs commented on #15
@DeeJaVu You can register it in a service provider. http://laravel.com/docs/5.1/providers this way, you'll only have to create the instance once.

[2015-09-13 00:36] #15 closed, assigned to nobody

[2015-09-15 12:59] m-vdv commented on #14
@megawubs Any idea when you'll be able to continue working on the wrapper? :)

[2015-09-15 19:04] megawubs commented on #14
@webslash Hey, thanks for your message. I should really finish up what I have in the pipeline. Haven't had the time and need for it lately. Will probably push something this weekend!

[2015-09-16 21:12] megawubs commented on #12
What's the code that generates this error?

[2015-09-16 21:18] #13 closed, assigned to megawubs

[2015-09-16 21:20] megawubs commented on #14
This is added in ecdc59448d65de4d64bc3298befe2c41f5be6bed and 961f566c41a7364be530ecaa63482a3f828c8317

[2015-09-16 21:20] #14 closed, assigned to nobody

[2015-09-17 13:49] m-vdv commented on #12
@megawubs
$trakt->movies->withImages()->withFull()->summary($token,$id)->toArray();

[2015-09-17 13:51] m-vdv commented on #14
Thank you!!

[2015-09-17 14:14] m-vdv opened #16 "Recommendations missing $token"
Hi @megawubs
The recommendation calls are missing the $token value.
[status code] 401 [reason phrase] Unauthorized

[2015-09-17 15:28] megawubs commented on #16
Do they don't accept the token or do you get this message even when you pass it a token?

Op 17 sep. 2015 16:14, bij 16:14, webslash notifications@github.com schreef:

[2015-09-17 15:30] m-vdv commented on #16
@megawubs  when I pass it a token.
OAuth is required, see docs:
http://docs.trakt.apiary.io/#reference/recommendations/movies/get-movie-recommendations

[2015-09-17 15:31] m-vdv opened #17 "limit not working"
Setting a limit on the history call isn't working:

$trakt->users->withImages()->limit(50)->history(...

Limit set to 50, but only get the default 10.

[2015-09-18 07:20] megawubs commented on #16
strange, does the same token work on other calls with a token?

[2015-09-18 09:43] m-vdv commented on #16
@megawubs My bad, my composer file was still pulling in the develop branch instead of master!

The fix is only present in the master branch: https://github.com/megawubs/trakt-api-wrapper/commit/704dd07c121012bd7917d610547e80dbf5c8782f

This can be closed :+1:

[2015-09-18 09:44] #16 closed, assigned to megawubs

[2015-09-18 14:14] megawubs commented on #17
This should be fixed in the latest release 6dea5a2

[2015-09-18 14:14] #17 closed, assigned to megawubs

[2015-09-18 14:33] megawubs commented on #12
Are you sure it's `Wubs\Trakt\Api\Movies` and not `Wubs\Trakt\Media\Movie`? Because this call returns one movie object, it's automatically converted to a `Wubs\Trakt\Media\Movie` instance. So it's not a collection

[2015-09-18 14:50] m-vdv commented on #12
After the master update it is indeed:
Error: Cannot use object of type Wubs\Trakt\Media\Movie as array

[2015-09-18 14:51] megawubs commented on #12
@webslash Wroking on a fix for it now

[2015-09-18 14:55] #12 closed, assigned to megawubs

[2015-09-18 15:04] m-vdv commented on #17
Perfect! thanks

[2015-09-26 00:21] ghost opened #18 "Laravel 5.1 example"
i followed this tutorial http://blog.wubsinfo.nl/trakt-api-wrapper/setup/oauth.html in laravel 5.1
but its not working
can you show me an example for laravel pls

btw when i use

[code]

im getting

[code]

and thats because the client_id is not defined, but how do i define it ?

[2015-09-26 04:43] megawubs commented on #18
@DeeJaVu I've been busy updating the docks. Haven't pushed it yet as it needs it final polishing. The readme also shows how to use it with Laravel.

[2015-09-26 11:30] ghost commented on #18
Oke thank you

[2015-09-26 12:14] DeeJaVu commented on #18
Hello the code above is suddenly working after removing "chumper/datatable" from my vendor
this is realy strange

[2015-09-27 10:57] #18 closed, assigned to nobody

[2015-09-27 11:20] ghost opened #19 "How to use summary ?"
pls can you help me with this

[code]

i get this error

[code]

i have readed the readme but i dont understand how i can do this in a controller

[2015-09-27 12:16] megawubs commented on #19
@DeeJaVu You need to pass it an instance of AccessToken instead of a string.

[2015-09-27 13:02] DeeJaVu commented on #19
i know but i still cant figure out how to do that, can you show me little example pls im begging you

[2015-09-27 14:37] megawubs commented on #19
[code]

That's how the AccessToken is created. All these values are given back from Trakt when you get the access token for the first time. You should store them somewhere and every time you need an access token crate it from these values.

Does this help? I'll document the access token a bit more in the documentation. I hope to have it finished by the end of this week.

[2015-09-27 14:41] DeeJaVu commented on #19
Yes Thank you very much

[2015-09-30 11:21] megawubs commented on #19
I just updated the documentation.

[2015-09-30 13:47] ghost commented on #19
Thank you for letting me know :+1:

[2015-09-30 14:40] ghost commented on #19
i have one problem
in my config/trakt.php i have this

[code]

the client_id and client_secret are working but the the redirect_uri not as you can see in the image below

so when i go try to authorize like this

[code]

the trakt website says "The redirect uri included is not valid."

![2015-09-30 16-33-26 ref - google chrome](https://cloud.githubusercontent.com/assets/1642161/10196080/4957d702-67

[2015-09-30 14:41] megawubs commented on #19
@DeeJaVu Did you register the redirect url with your trakt.tv API App?

[2015-09-30 14:47] ghost commented on #19
FIXED
just looked in

vendor\wubs\trakt\src\Wubs\Trakt\Providers\Laravel\TraktApiServiceProvider.php

[code]

so i changed config/trakt.php

redirect_uri to trakt_redirect_uri and now its working

[2015-09-30 15:07] ghost commented on #19
its working perfect now :+1:

![2015-09-30 17-06-22 ref - google chrome](https://cloud.githubusercontent.com/assets/1642161/10196953/b878dd26-6795-11e5-905a-526a9cd13a7b.png)

[2015-10-22 04:11] #19 closed, assigned to nobody

[2015-11-28 13:55] snky1987 opened #20 "Token is never send with "collected" method"
Hi,

I use your doc tutorial and try to execute this piece of code:

$provider = new TraktProvider(
    config('trakt.client_id'), config('trakt.client_secret'),config('trakt.trakt_redirect_uri')
);
$auth = new Auth($provider);
$this->trakt = new Trakt($auth);
$this->trakt->movies->page(2)->withImages()->withFull()->limit(20);

And every second request i got 403 Forbidden.
I debugged the request a

[2015-11-29 16:14] zandzpider opened #21 "issue with vendor:publish"
artisan vendor:publish
Can't locate path: </mypath/vendor/wubs/trakt/src/Wubs/Trakt/Providers/Laraveltrakt.php>

[2015-11-29 16:20] megawubs commented on #21
Can you please be a bit more descriptive? Is this the actual error message?

[2015-11-29 16:22] megawubs commented on #20
Hi,

is the code in your example the exact same code you run? Because it's missing the `->collected($token)` call. `$this->token` is probably null because it's never set.

[2015-11-29 16:35] ghost commented on #21
@megawubs something here is wrong https://github.com/megawubs/trakt-api-wrapper/blob/0b602d8afc682dcf4bac40a8f8dbbf5b34300c27/src/Wubs/Trakt/Providers/Laravel/TraktApiServiceProvider.php#L19

it can't locate trakt.php when you do artisan vendor:publish

i have send a pull request for a fix #22

[2015-11-29 19:13] #21 closed, assigned to nobody

[2016-02-13 20:45] SrPatinhas opened #23 "Problem Installing with laravel 5.2.1"
Hello, im trying to install this package with the laravel framework, and it returns this error every time i try to install.

[code]

Can you help out please? thanks

[2016-02-18 12:55] inluxc commented on #23
+1

[2016-03-18 20:26] Bogstag commented on #23
Same with Laravel v5.2.23 using version ~2.0 for wubs/trakt

[code]

[2016-03-18 20:28] megawubs commented on #23
@Bogstag Please, someone take the time to clone the repo and fix this issue in the composer.json file. I'm looking for someone to fix this, I don't have the time anymore

[2016-03-21 18:36] SrPatinhas commented on #18
@DeeJaVu you got your code working? im getting an error in this part too :( this should have a better example how to implement. @megawubs did you got your docs updated? Thanks in advance

[2016-03-21 19:25] ghost commented on #18
@SrPatinhas no i gave up, instead im using https://github.com/php-tmdb/laravel

[2016-03-21 21:44] SrPatinhas commented on #18
@DeeJaVu thanks. i will try a little bit more this package ;)

[2016-03-22 21:35] SrPatinhas commented on #23
it works now, @megawubs maybe release a new version?

[2016-06-16 14:47] ghost opened #25 "No getter for type in Request\Sync\Watched"
For this code

[code]

I got this error

[code]

[2016-06-17 10:04] ghost commented on #25
Fix by PR #26

[2016-06-17 10:04] #25 closed, assigned to nobody

[2016-06-17 13:02] ghost opened #27 "Shows summary or get return a array with 1 index"
This is a question.

Why summary function return a single element array and not an object ?

fyi [Documentation](http://docs.trakt.apiary.io/#reference/shows/summary/get-a-single-show)

[2016-06-27 09:17] ghost opened #29 "Scrobble actions start/pause/stop"
Is this part is developed? I have problem to make it work.
If it has not been made yet, considering how you do it?
I may based on 'checkin' code ?

[2016-07-02 06:23] megawubs commented on #29
I'll look into this today

[2016-07-02 07:12] megawubs commented on #27
That's because the `Wubs\Trakt\Response\Handlers\DefaultResponseHandler` has the following handle method:

[code]

The `DefaultResponseHandler` class should always return a collection in order to adhere to it's return type and prevent unwanted results. If you expect a collection in consuming code but get an object, your code will break. Allways returning a collection, even with one item, will ensu

[2016-07-02 19:47] #29 closed, assigned to nobody

[2016-07-02 19:48] #20 closed, assigned to nobody

[2016-07-02 19:54] megawubs commented on #23
Done with dc731b3. New version is now 2.2.0

[2016-07-02 19:54] #23 closed, assigned to nobody

[2016-07-26 13:45] #27 closed, assigned to nobody

[2016-09-10 07:01] daj92109 opened #33 "Support for Guzzle 6"
Hello,

I see a couple of forks that have partial implementations for guzzle 6.   Do you plan to support guzzle 6 in your main package or should I work off of those forks?

[2016-10-12 17:28] xLink opened #34 "Laravel5.3"
Hey, tried installing this package into my project, but its on Laravel 5.3, you have specified 5.2 in the composer.json so its not working.

Is there any plans to upgrade to 5.3?

This seems to be the only API setup for this in php that is ticking all the boxes for me, just needs a bit of updating :D

[2016-10-13 05:54] megawubs commented on #34
@xLink I'm sorry, but due to other prioritys I'm unable to work on this project.

[2016-10-17 09:01] ghost commented on #34
it is working here

[2016-10-23 23:30] Fatih90 commented on #10
still the same probem

[2017-01-19 15:22] HMAZonderland commented on #33
+1 for updating to Guzzle 6.

[2017-08-14 00:35] BeachyHeadCode opened #37 "Improve Readme"
This isn't straight forward on how to install this. I luckily already knew the programs you use. I originally came to just get a PHP class wrapper for trakt. This was much more complex than what I originally was looking for. I'm sure there are some others that come across this that only code in php and html and would skip this not knowing about composer and the classes you use.

[2017-10-04 11:01] DHoogland commented on #33
Any updates planned?

[2017-10-07 05:21] megawubs commented on #33
Hello,

I have no plans or time to work on this package now or anytime soon. Please fork and change it to your likings. I'll add a notice to the readme indicating that this package is no longer maintained.

[2017-10-07 05:21] #33 closed, assigned to nobody

[2021-06-03 20:49] seawalk24 opened #38 "There was an invalid Oauth request from Trakt"
Everything has been working fine for a few years now. I haven't made any changes to the code. Recently

`$trakt->auth->token($_GET['code'])`

started giving an error message "There was an invalid Oauth request from Trakt"